/***************************
Header component CSS
******************************/
.header {
  width: 90%;
  margin: 1em auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header > * {
  width: 40%;
}
.logo {
  font-size: 36px;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.profile-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
}
.profile-pic {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.user-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin: 0.2em 0;
}
/***************************
Rides component CSS
******************************/
.main {
  width: 100%;
  min-height: 83vh;
  margin: 1em auto;
  padding: 0.5em 0;
  background: #555454;
}
.buttons-container {
  width: 90%;
  margin: 1em auto;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid cornflowerblue; */
}
.buttons-container > * {
  width: 40%;
  /* border: 1px solid crimson; */
}
.btn {
  background: transparent;
  border: none;
  padding: 0.5em 0.5em;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.btn.active {
  color: #fff;
  border-bottom: 1px solid #fff;
}
.filters {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  outline: none;
}
.filter-icon {
  width: 15px;
  height: 15px;
  margin: 0 0.5em;
}
.filters-container {
  position: absolute;
  top: 140%;
  left: 60%;
  width: 228px;
  height: 190px;
  background: #131313;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.filters-container > * {
  width: 90%;
}
.filter-tag {
  padding: 0 0;
  margin: 0.5em 0;

  color: #a5a5a5;
}
.filters-frm {
  width: 100%;
  display: grid;
  justify-items: center;
}
.frm-select {
  width: 90%;
  height: 37.5px;
  background: #232323;
  border: none;
  color: #fff;
  margin: 0.5em 0;
}
.clear-btn {
  width: 90%;
  padding: 0.5em 0.5em;
  border: none;
  background: cornflowerblue;
  border-radius: 4px;
}

/***************************
Records component CSS
******************************/
.record {
  background: #101010;
  width: 90%;
  margin: 1em auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.record > div {
  margin: 1em 0;
}
.record__details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  min-width: 50%;
}
.record__details > * {
  width: 50%;
  min-width: 50%;
}
.record__img {
  display: flex;
  justify-content: center;
}
.record__info p {
  margin: 0 0;
  padding: 2px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #cfcfcf;
}
.geo-info {
  width: 80px;
  height: 23px;
  font-size: 12px;
  line-height: 15px;
  margin: 0 1em;
  color: #fff;
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.56);
}
.error {
  width: 30%;
  margin: 5em auto;
}
.error p {
  font-size: 12px;
  margin: 2em 0;
}
